/* Define the keyframes as you did */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Center the spinner */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-dark{
    display:flex;
    background-color: #3b3f4f;
    border-color: #282b36;
    /* height is at 81px */
    height: 81px;

}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #3498db;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}