/* Define the keyframes as you did */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Center the spinner */
.container {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 100vh;
  /* Set the height of the container to 100% viewport height */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #3498db;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}